body {
    background: url(fone.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#name {
    color: lawngreen;
}
div{
    margin: 0 260px;
    color: bisque;;
    background-color: rgb(10,10,10,0.5);
    width: 930px;
}
